/* Example media query
@media only screen and (min-width: 500px) {
    body {
        background-color: salmon;
    }
}  */

body {
  background-color: salmon;
}

img {
  display: none;
  max-width: 100%;
}

.purple-rect {
  border: 1px solid purple;
  background-color: beige;
  height: 200px;
}
.blue-rect {
  border: 1px solid blue;
  background-color: bisque;
  height: 200px;
}

@media only screen and (min-width: 600px) {
  img {
    display: block;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background-color: darkslategray;
  }

  @media only screen and (min-width: 800px) {
    body {
      background-color: yellow;
    }
  }
}
